AWS_ACCESS_KEY_ID=AKABCDEFGHIJKLMNOPQ
AWS_SECRET_ACCESS_KEY=aBcDeFgHiJkLmNoPqRsTuVwXyZAbCdEfGhIjKlMn
AWS_DEFAULT_REGION=us-east-1
AWS_REGION=us-east-1

CS_ORGANIZATION=ourorg
CS_PASSWORD=abc123
CS_USERNAME=johndoe

CS1_PROJECT_UUID=abcd1234-abcd-1234-dcba-abcd1234dcb
CS1_BUILD_REFERENCE=develop

CS2_PROJECT_UUID=abcd1234-abcd-1234-dcba-abcd1234dcb
CS2_BUILD_REFERENCE=2.3

